.content {
    text-align: center;
}

@media(max-width: 740px) {
    iframe {
        height: 200px;
    }
}

@media(min-width: 740px) and (max-width: 1023px) {
    iframe {
        height: 300px;
    }
}