.container {
    display: flex;
    justify-content: center;
}

@media(max-width: 740px) {
    iframe {
        width: 100%;
    }
}

@media(min-width: 740px) and (max-width: 1023px) {
    iframe {
        width: 100%;
    }
}